pre.chroma code {
  margin-top: -28px;
  padding-top: 40px;
  padding-bottom: 12px;
}

.code-name {
  display: inline-block;
  position: relative;
  padding: 4px 8px;
  background-color: #282a36;
  color: #485A60;
  font-size: 13px;
  font-weight: 400;
}