.admonition {
    padding: 15px;
    margin-bottom: 21px;
    border: 1px solid;
    border-left: 4px solid;
    background: var(--lightgray);
    //border-bottom-right-radius: 10px;
    //border-top-right-radius: 10px;

}

.admonition .title {
    //float: top;
    margin: 0;
    text-transform: uppercase;
    //padding-left: 3px;
    //border: 1px solid;
    //border-style: hidden hidden solid;
}

.admonition .content {
    color: var(--dark);
}

.note {
    border-color: green;

    //background-color: ;
}

.note .title {
    color: green;
    border-color: green;
}