

.centered {
  margin-top: 10vh;
}

//p, li {
//  width: clamp(45ch, 100%, 75ch) !important;
//  margin-left: auto;
//  margin-right: auto;
//}

.singlePage{
  width: clamp(40ch, 90%, 63ch) !important;
  padding-top: 6vw !important;
  padding-bottom: 6vw !important;
  margin-left: auto !important;
  margin-right: auto !important;
  @media (max-width: 380px) {
    width: unquote('max(90%, 200px)') !important;
    padding-left: 20px;
    padding-right: 20px;
  }
}


ul {
  padding-left: 1.5em;
}

figure {
  filter: var(--svgfilter)
}

figcaption {
  font-style: italic;
  opacity: 0.5;
}

.admonition-note {
  font-size: .8rem;
  margin: 2em 0 1rem;
  border: 2px solid #92c1e9;
  padding: 0;
  border-radius: 4px;
}

.admonition-note-title {
  margin: 0 !important;
  padding: .1rem 0 .1rem .5rem;
  color: #fff;
  border-bottom: 1px solid;
  font-weight: 700;
  background-color: #92c1e9;
}

img {
  width: unquote('max(70%, 300px)') !important;
  height: auto;
}

// Fonts
:root {
  --lineheight: 1.8em;
  --textalign: left;
  --bodyfontfamily: 'Cambria', 'Times New Roman', serif;
  --headerfontfamily: 'Cambria', serif;
}

// LaTeX

//
//$primary_font_family: 'Computer Modern Serif', serif;
//$secondary_font_family: 'Computer Modern Serif', serif;

//$primary_font_family: 'Whitney-Bold', sans-serif;
