
:root  {
   --code-name-text-color: #187076;
   --code-name-background-color: #f3f3f3;
   --coden-text-color: #000000;
   --background-background-color: #eeeeee;
   //--background-background-color: #fafafa;
   --pre-wrapper-background-color: #fafafa;
   --error-background-color: #1e0010;
   --line-highlight-background-color: #ffffcc;
   --line-numbers-table-color: #7f7f7f;
   --line-numbers-color: #7f7f7f;
   --keyword-color: #00a8c8;
   --keyword-constant-color: #00a8c8;
   --keyword-declaration-color: #00a8c8;
   --keyword-namespace-color: #f92672;
   --keyword-pseudo-color: #00a8c8;
   --keyword-reserved-color: #00a8c8;
   --keyword-type-color: #00a8c8;
   --name-color: #111111;
   --name-attribute-color: #75af00;
   --name-builtin-color: #111111;
   --name-builtin-pseudo-color: #111111;
   --name-class-color: #75af00;
   --name-constant-color: #00a8c8;
   --name-decorator-color: #75af00;
   --name-entity-color: #111111;
   --name-exception-color: #75af00;
   --name-function-color: #75af00;
   --name-function-magic-color: #111111;
   --name-label-color: #111111;
   --namenamespace-color: #111111;
   --name-other-color: #75af00;
   --name-property-color: #111111;
   --name-tag-color: #f92672;
   --name-variable-color: #111111;
   --name-variable-class-color: #111111;
   --name-variable-global-color: #111111;
   --name-variable-instance-color: #111111;
   --name-variable-magic-color: #111111;
   --literal-color: #ae81ff;
   --literal-date-color: #d88200;
   --literal-string-color: #d88200;
   --literal-string-affix-color: #d88200;
   --literal-string-backtick-color: #d88200;
   --literal-string-char-color: #d88200;
   --literal-string-delimiter-color: #d88200;
   --literal-string-doc-color: #d88200;
   --literal-string-double-color: #d88200;
   --literal-string-escape-color: #8045ff;
   --literal-string-heredoc-color: #d88200;
   --literal-string-interpol-color: #d88200;
   --literal-string-other-color: #d88200;
   --literal-string-regex-color: #d88200;
   --literal-string-single-color: #d88200;
   --literal-string-symbol-color: #d88200;
   --literal-number-color: #ae81ff;
   --literal-number-bin-color: #ae81ff;
   --literal-number-float-color: #ae81ff;
   --literal-number-hex-color: #ae81ff;
   --literal-number-integer-color: #ae81ff;
   --literal-number-integerlong-color: #ae81ff;
   --literal-number-oct-color: #ae81ff;
   --operator-color: #f92672;
   --operator-word-color: #f92672;
   --punctuation-color: #111111;
   --comment-color: #75715e;
   --comment-hashbang-color: #75715e;
   --comment-multiline-color: #75715e;
   --comment-single-color: #75715e;
   --comment-special-color: #75715e;
   --comment-preproc-color: #75715e;
   --comment-preproc-file-color: #75715e;
}

[saved-theme="dark"] {
   --code-name-text-color: rgba(238, 130, 238, 0.87);
   --code-name-background-color: rgba(68, 74, 90, 0.53);
   --coden-text-color: #f8f8f2;
   --background-background-color: #282a36;
   --line-highlight-background-color: #ffffcc;
   --line-numbers-table-color: #7f7f7f;
   --line-numbers-color: #7f7f7f;
   --keyword-color: #ff79c6;
   --keyword-constant-color: #ff79c6;
   --keyword-declaration-color: #8be9fd;
   --keyword-namespace-color: #ff79c6;
   --keyword-pseudo-color: #ff79c6;
   --keyword-reserved-color: #ff79c6;
   --keyword-type-color: #8be9fd;
   --name-attribute-color: #50fa7b;
   --name-builtin-color: #8be9fd;
   --name-class-color: #50fa7b;
   --name-function-color: #50fa7b;
   --name-label-color: #8be9fd;
   --name-tag-color: #ff79c6;
   --name-variable-color: #8be9fd;
   --name-variable-class-color: #8be9fd;
   --name-variable-global-color: #8be9fd;
   --name-variable-instance-color: #8be9fd;
   --literal-string-color: #f1fa8c;
   --literal-string-affix-color: #f1fa8c;
   --literal-string-backtick-color: #f1fa8c;
   --literal-string-char-color: #f1fa8c;
   --literal-string-delimiter-color: #f1fa8c;
   --literal-string-doc-color: #f1fa8c;
   --literal-string-double-color: #f1fa8c;
   --literal-string-escape-color: #f1fa8c;
   --literal-string-heredoc-color: #f1fa8c;
   --literal-string-interpol-color: #f1fa8c;
   --literal-string-other-color: #f1fa8c;
   --literal-string-regex-color: #f1fa8c;
   --literal-string-single-color: #f1fa8c;
   --literal-string-symbol-color: #f1fa8c;
   --literal-number-color: #bd93f9;
   --literal-number-bin-color: #bd93f9;
   --literal-number-float-color: #bd93f9;
   --literal-number-hex-color: #bd93f9;
   --literal-number-integer-color: #bd93f9;
   --literal-number-integerlong-color: #bd93f9;
   --literal-number-oct-color: #bd93f9;
   --operator-color: #ff79c6;
   --operator-word-color: #ff79c6;
   --comment-color: #6272a4;
   --comment-hashbang-color: #6272a4;
   --comment-multiline-color: #6272a4;
   --comment-single-color: #6272a4;
   --comment-special-color: #6272a4;
   --comment-preproc-color: #ff79c6;
   --comment-preproc-file-color: #ff79c6;
   --generic-deleted-color: #8b080b;
   --generic-output-color: #44475a;
}