{{if $.Site.Data.config.enableLatex}}

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.15.6/contrib/copy-tex/copy-tex.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.15.6/dist/katex.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.15.6/dist/contrib/copy-tex.min.css">

    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.15.6/contrib/auto-render/auto-render.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.15.6/contrib/copy-tex/copy-tex.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.15.6/dist/katex.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.15.6/dist/contrib/auto-render.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.15.6/dist/contrib/copy-tex.min.js"></script>

<!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.15.1/dist/katex.min.css" integrity="sha384-R4558gYOUz8mP9YWpZJjofhk+zx0AS11p36HnD2ZKj/6JR5z27gSSULCNHIRReVs" crossorigin="anonymous">-->
<!--<script defer src="https://cdn.jsdelivr.net/npm/katex@0.15.6/dist/katex.min.js" integrity="sha256-InsNdER1b2xUewP+pKCUJpkhiqwHgqiPXDlIk7GzBu4=" crossorigin="anonymous"></script>-->
<!--<script defer src="https://cdn.jsdelivr.net/npm/katex@0.15.1/dist/katex.min.js" integrity="sha384-z1fJDqw8ZApjGO3/unPWUPsIymfsJmyrDVWC8Tv/a1HeOtGmkwNd/7xUS0Xcnvsx" crossorigin="anonymous"></script>-->
<!--<script defer src="https://cdn.jsdelivr.net/npm/katex@0.15.1/dist/contrib/auto-render.min.js" integrity="sha384-+XBljXPPiv+OzfbB3cVmLHf4hdUFHlWNZN5spNQ7rmHTXpd7WvJum6fIACpNNfIR" crossorigin="anonymous"></script>-->

<!--<link href="https://cdn.jsdelivr.net/npm/katex@0.15.6/dist/contrib/copy-tex.css" rel="stylesheet" type="text/css">-->
<!--<script src="https://cdn.jsdelivr.net/npm/katex@0.15.6/dist/contrib/copy-tex.min.js" integrity="sha384-Ep9Es0VCjVn9dFeaN2uQxgGcGmG+pfZ4eBaHxUpxXDORrrVACZVOpywyzvFRGbmv" crossorigin="anonymous"></script>-->

<!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.15.6/contrib/copy-tex/copy-tex.css" integrity="sha256-35Lo4LXqKEzElcavJ5YKuV11vIHxrKNsnkpTFDum0bE=" crossorigin="anonymous">-->



<!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.15.6/dist/katex.css" integrity="sha256-c0t3JTjzPJl+i/mhEqmN+DN5F59Gq2kvKIoYnT2VWgA=" crossorigin="anonymous">-->
<!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.15.6/contrib/copy-tex/copy-tex.css" integrity="sha256-35Lo4LXqKEzElcavJ5YKuV11vIHxrKNsnkpTFDum0bE=" crossorigin="anonymous">-->

<!--<script src="https://cdn.jsdelivr.net/npm/katex@0.15.6/dist/katex.min.js" integrity="sha256-InsNdER1b2xUewP+pKCUJpkhiqwHgqiPXDlIk7GzBu4=" crossorigin="anonymous"></script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/katex@0.15.6/contrib/auto-render/auto-render.js" integrity="sha256-2Q4F80JeEJkkTuV6U+Li60WaEpNtc4zT5CBkz0Alh7I=" crossorigin="anonymous"></script>-->
<!--&lt;!&ndash;<script src="https://cdn.jsdelivr.net/npm/katex@0.15.6/contrib/auto-render/splitAtDelimiters.js" integrity="sha256-rBCfvmJshDCR1GMlk9Ei57GtswTvgOLuqV7+c32TIeM=" crossorigin="anonymous"></script>&ndash;&gt;-->
<!--<script src="https://cdn.jsdelivr.net/npm/katex@0.15.6/contrib/copy-tex/copy-tex.js" integrity="sha256-CZn5ou892KcqMMhqnL6qeZN/KZB7ou9AoQn7TAjefGA=" crossorigin="anonymous"></script>-->



{{end}}
