{{if .Params.enable_threejs }}
<script type="module" src="https://cdn.jsdelivr.net/npm/three@0.127.0/build/three.module.js" integrity="sha256-bydANdrILn6x5fglJV4XPH0b6XE0JAD2j9eBj38EZ1g=" crossorigin="anonymous"></script>
<script type="module" src="https://cdn.jsdelivr.net/npm/three@0.127.0/examples/jsm/controls/TrackballControls.js" integrity="sha256-w6Y7Oi8IxMDypVZf1k9cYRSosA2ReYQ51vbUgq4/OgA=" crossorigin="anonymous"></script>
<script type="module" src="https://cdn.jsdelivr.net/npm/three@0.127.0/examples/jsm/controls/OrbitControls.js" integrity="sha256-PNQF+YXdXxAYuLxOEhaV5RveG4tJ1LwmNlqI/zZPKi8=" crossorigin="anonymous"></script>
<script type="module" src="https://cdn.jsdelivr.net/npm/three@0.127.0/examples/jsm/controls/DeviceOrientationControls.js" integrity="sha256-da+dn0e834eoy+5svyNJJB9jcJt1BOq0xBlkQTqtPD8=" crossorigin="anonymous"></script>
<script type="module" src="https://cdn.jsdelivr.net/npm/three@0.127.0/examples/jsm/loaders/GLTFLoader.js" integrity="sha256-ORZKVWeR8Jhn6sAEc28InB7n8toJ13CAAB8VbdDfCWY=" crossorigin="anonymous"></script>
<script type="module" src="https://cdn.jsdelivr.net/npm/three@0.127.0/examples/jsm/loaders/DRACOLoader.js" integrity="sha256-aYC3KzNP/A91QpTFUVRl4JkKIjD8/IjtzeNpF6ORi0A=" crossorigin="anonymous"></script>
{{ end }}