<!DOCTYPE html>
<html lang="en">
{{ partial "head.html" . }}
<body>

{{ $geometry := resources.Get "js/geometry.js" | resources.Fingerprint "md5" |
resources.Minify }}
<style>
    grid-icosahedron {
        z-index: -9999;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }
</style>
<div class="relative w-screen h-screen">
    <div class="grid-icosahedron w-full h-full bg-black overflow-hidden"></div>
</div>
<script defer type="module" src="{{$geometry.Permalink}}"></script>





<div class="singlePage">
    {{partial "darkmode.html" .}}
    <div class="centered">
        <h1>404.</h1>
        <h3>Hey! You look a little lost. This page doesn't exist (or may be
            private).</h3>
        <a href="{{ .Site.BaseURL }}">↳ Let's get you home.</a>
    </div>
</div>
</body>

</html>
