{{ if .Site.Data.config.comments.giscus }}
<div class='giscus-wrapper'
     data-giscus-dark-theme="{{.Params.Comments.Disqus.Theme.Dark}}"
     data-giscus-light-theme="{{.Params.Comments.Disqus.Theme.Light}}">
    <script src="https://giscus.app/client.js"
            data-repo="{{.Site.Data.config.comments.giscus.repo}}"
            data-repo-id="{{.Site.Data.config.comments.giscus.repo_id}}"
            data-category="{{.Site.Data.config.comments.giscus.category}}"
            data-category-id="{{.Site.Data.config.comments.giscus.category_id}}"
            data-mapping="{{.Site.Data.config.comments.giscus.mapping}}"
            data-reactions-enabled="{{.Site.Data.config.comments.giscus.reactions_enabled}}"
            data-theme="{{.Site.Data.config.comments.disqus.theme.light}}"
            crossorigin="anonymous"
            async>
    </script>
    <noscript>Please enable JavaScript to view the comments powered by giscus.
    </noscript>
</div>
{{ end }}